{% extends "base.html" %}

{% block content %}
<br><br>
    <h1>Страница подтверждения</h1><br>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.code.label }}<br>
            {{ form.code(class="form-control") }}<br>
            {% for error in form.code.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}