{% extends "base.html" %}

{% block content %}
<br><br>
<meta charset="UTF-8">
<h2 align="center">{{ user.surname }} {{ user.name }}</h2><br>
<div class="row" align="center">
    <div class="col">

        {% if current_user.id == user.id or current_user.id == 1 %}
        {% if user.img != "0" %}
        <img class="user" align="center" src="{{ url_for('static', filename=user.img) }}"
             alt="здесь должна была быть картинка, но не нашлась" width="400">
        <a class="nav-link" href="/add_photo"><h5>Изменить фото профиля</h5></a>
        {% else %}
        <img class="user" align="center" src="{{ url_for('static', filename='img/site/anon.png') }}"
             alt="здесь должна была быть картинка, но не нашлась" width="400">
        <a class="nav-link" href="/add_photo"><h5>Добавить фото профиля</h5></a>
        {% endif %}
        {% else %}
        <img class="user" align="center" src="{{ url_for('static', filename=user.img) }}"
             alt="здесь должна была быть картинка, но не нашлась" width="400">
        {% endif %}
    </div>

    <div class="col">
        <table class="my_table" align="center">
            <tr class="my_row">
                <td class="title" width="200px" bgcolor="#dddddd">ID:</td>
                <td class="ordinary" width="200px" bgcolor="#eeffee" align="center">{{ user.id }}</td>
            </tr>
            <tr class="my_row">
                <td class="title" width="200px" bgcolor="#dddddd">Адрес:</td>
                <td class="ordinary" width="200px" bgcolor="#eeffee" align="center">{{ user.address }}</td>
            </tr>
            <tr class="my_row">
                <td class="title" width="200px" bgcolor="#dddddd">Почта:</td>
                <td class="ordinary" width="200px" bgcolor="#eeffee" align="center">{{ user.email }}</td>
            </tr>
            <tr class="my_row">
                <td class="title" width="200px" bgcolor="#dddddd">Телефон:</td>
                <td class="ordinary" width="200px" bgcolor="#eeffee" align="center">{{ user.tel }}</td>
            </tr>
            <tr class="my_row">
                <td class="title" width="200px" bgcolor="#dddddd">На Юле с:</td>
                <td class="ordinary" width="200px" bgcolor="#eeffee" align="center">{{ user.modifed_date }}</td>
            </tr>
        </table>

        {% if current_user.id == user.id or current_user.id == 1 %}
        {% set a = "/edit_user/" %}
        <div align="center">
            <br><a class="btn btn-outline-secondary" href="{{ a }}{{ current_user.id }}">Редактировать профиль</a>
        </div>
        {% endif %}
    </div>
</div>
<br>
<br>
{% if current_user.id == user.id or current_user.id == 1 %}
<div class="user">
    <br>
    <div align="center">
        <h2>Объявления</h2>
    </div>
    {% for product in user.products %}
    <br>
    <div class="prod">
        <br>
        <div class="row" align="center">
            <div class="col">
                <a href="/product/{{ product.id }}">
                    <img class="prod" align="center" src="{{ url_for('static', filename=product.img) }}"
                         alt="здесь должна была быть картинка, но не нашлась" height="200" width="200">
                </a>
            </div>
            <div class="col">
                <table class="my">
                    <tr class="my_row">
                        <td class="title" height="100" align="center"><strong>Название</strong></td>

                        <td class="title" height="100" align="center"><strong>Цена</strong></td>
                        <td class="title" height="100" align="center"><strong>Товар продан?</strong></td>
                    </tr>
                    <tr class="my_row">
                        {% set a = "/user/" %}
                        <td class="ordinary" height="100" align="center">{{ product.product.capitalize()[:10] }}</td>

                        <td class="ordinary" height="100" align="center">{{ product.price }} руб.</td>
                        {% if product.is_finished %}
                        <td class="ordinaryes" height="100" align="center">Да</td>
                        {% else %}
                        <td class="ordinary" height="100" align="center">Нет</td>
                        {% endif %}
                    </tr>
                </table>
            </div>
            <div class="col">
                {% set a = "/edit_product/" %}
                {% set b = "/del_product/" %}
                {% set c = "/ok_product/" %}
                <p>
                    <br>
                    <a class="btn btn-primary btn-lg btn-block" href="{{ a }}{{ product.id }}">Редактировать</a>
                    <a class="btn btn-danger btn-lg btn-block" href="{{ b }}{{ product.id }}">Удалить</a>
                    {% if not product.is_finished %}
                    <a class="btn btn-success btn-lg btn-block" href="{{ c }}{{ product.id }}">Продано</a>
                    {% endif %}
                </p>
            </div>
        </div>
        <br>
    </div>
    {% endfor %}
    <br>
    <div align="center">
        <a class="btn btn-success btn-lg" href="/add_product">Создать объявление</a></div>
    <br>
</div>
{% else %}
<div class="user">
    {% if current_user.is_authenticated %}
    <a class="btn btn-success btn-lg" href="/chat/{{ user.id }}">Написать продавцу</a>
    {% endif %}
    <br>
    <div align="center">
        <h2>Объявления</h2>
    </div>
    {% for product in user.products %}
    <br>
    <div class="prod">
        <br>
        <div class="row" align="center">
            <div class="col">
                <a href="/product/{{ product.id }}">
                    <img class="prod" align="center" src="{{ url_for('static', filename=product.img) }}"
                         alt="здесь должна была быть картинка, но не нашлась" height="200" width="200">
                </a>
            </div>
            <div class="col">
                <table class="my">
                    <tr class="my_row">
                        <td class="title" height="100" align="center"><strong>Название</strong></td>
                        <td class="title" height="100" align="center"><strong>Цена</strong></td>

                    </tr>
                    <tr class="my_row">
                        {% set a = "/user/" %}
                        <td class="ordinary" height="100" align="center">{{ product.product.capitalize() }}</td>
                        <td class="ordinary" height="100" align="center">{{ product.price }} руб.</td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <table class="my">
                    <tr>
                        <td class="title" height="100" align="center"><strong>Товар продан?</strong></td>
                    </tr>
                    <tr>
                        {% if product.is_finished %}
                        <td class="ordinaryes" height="100" align="center">Да</td>
                        {% else %}
                        <td class="ordinary" height="100" align="center">Нет</td>
                        {% endif %}
                    </tr>
                </table>

            </div>
        </div>
        <br>
    </div>
    {% endfor %}
    <br>
</div>
{% endif %}
{% endblock %}